<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Duet API, V1 &raquo; {{page.title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/syntax.css">
</head>

<body>
  <div id="container">
    <header>
      <h1>
        <img src="/images/logo.png" alt="Duet" />
        API
      </h1>
      <p><span class="implemented"> *</span> - fully implemented</p>
      <ul>
        <li class="push">
          <a href="/authentication"><strong>Authentication</strong><span class="implemented"> *</span></a>
        </li>
        <li class="push"><a href="/get"><code>GET&nbsp;&nbsp;/</code><span class="implemented"> *</span></a></li>
        <li>
          <strong>Accounts</strong>
          <ul>
            <li><a href="/post/account/sign_in"><code>POST&nbsp;account/sign_in</code><span class="implemented"> *</span></a></li>
            <li><a href="/post/account"><code>POST&nbsp;account</code><span class="implemented"> *</span></a></li>
            <li><a href="/get/account"><code>GET&nbsp;&nbsp;account</code><span class="implemented"> *</span></a></li>
            <li><a href="/post/account/update"><code>POST&nbsp;account/update</code><span class="implemented"> *</span></a></li>
            <li><a href="/post/account/image"><code>POST&nbsp;account/image</code><span class="implemented"> *</span></a></li>
            <li><a href="/get/account/privacy"><code>GET&nbsp;&nbsp;account/privacy</code><span class="implemented"> *</span></a></li>
            <li><a href="/post/account/privacy"><code>POST&nbsp;account/privacy</code><span class="implemented"> *</span></a></li>
            <li><a href="/post/account/change_password"><code>POST&nbsp;account/change_password</code></a></li>
            <li><a href="/get/account/circle"><code>GET&nbsp;&nbsp;account/circle</code></a></li>
          </ul>
        </li>
        <li>
          <strong>Duets</strong>
          <ul>
            <li><a href="/get/duets"><code>GET&nbsp;&nbsp;duets</code></a></li>
            <li><a href="/get/duets/public"><code>GET&nbsp;&nbsp;duets/public</code></a></li>
            <li><a href="/get/duets/public/featured"><code>GET&nbsp;&nbsp;duets/public/featured</code></a></li>
            <li><a href="/get/duets/:duet_id"><code>GET&nbsp;&nbsp;duets/:duet_id</code></a></li>
            <li><a href="/get/duets/proposed"><code>GET&nbsp;&nbsp;duets/proposed</code></a></li>
            <li><a href="/get/duets/completed"><code>GET&nbsp;&nbsp;duets/completed</code></a></li>
            <li><a href="/get/duets/with/:with_id"><code>GET&nbsp;&nbsp;duets/with/:with_id</code></a></li>
            <li><a href="/get/duets/invitations"><code>GET&nbsp;&nbsp;duets/invitations</code></a></li>
            <li><a href="/post/duets/invitations/:duet_id/accept"><code>POST&nbsp;duets/invitations/:duet_id/accept</code></a></li>
            <li><a href="/post/duets/invitations/:duet_id/decline"><code>POST&nbsp;duets/invitations/:duet_id/decline</code></a></li>
            <li><a href="/post/duets"><code>POST&nbsp;duets</code></a></li>
            <li><a href="/post/duets/:duet_id/update"><code>POST&nbsp;duets/:duet_id/update</code></a></li>
            <li><a href="/post/duets/:duet_id/complete"><code>POST&nbsp;duets/:duet_id/complete</code></a></li>
            <li><a href="/post/duets/:duet_id/destroy"><code>POST&nbsp;duets/:duet_id/destroy</code></a></li>
          </ul>
        </li>
        <li>
          <strong>Items</strong>
          <ul>
            <li><a href="/get/duets/:duet_id/items"><code>GET&nbsp;&nbsp;duets/:duet_id/items</code></a></li>
            <li><a href="/post/duets/:duet_id/items"><code>POST&nbsp;duets/:duet_id/items</code></a></li>
            <li><a href="/post/duets/:duet_id/items/:item_id/destroy"><code>POST&nbsp;duets/:duet_id/items/:id/destroy</code></a></li>
          </ul>
        </li>
        <li>
          <strong>Dittos</strong>
          <ul>
            <li><a href="/get/dittos"><code>GET&nbsp;&nbsp;dittos</code></a></li>
            <li><a href="/post/dittos"><code>POST&nbsp;dittos</code></a></li>
            <li><a href="/post/dittos/:ditto_id/destroy"><code>POST&nbsp;dittos/:ditto_id/destroy</code></a></li>
          </ul>
        </li>
      </ul>
    </header>
    
    <div id="main">
      {{content}}
    </div>
    
    <footer>

    </footer>
  </div> <!-- end of #container -->
</body>
</html>
